<div class="justify-content-center show-article shadow p-3 mb-5 bg-white rounded col-8">
  <div id="<%= dom_id article %>">
    <p>
      <strong>Title:</strong>
      <%= article.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= article.description %>
    </p>

  </div>

</div>


