<div class="jumbotron m-3">
  <div id="page-content">
    <h1 class="display-4 text-center">Create a new article</h1>
    <hr class="my-4">
    <%= render "form", article: @article %>
    <br>
    <div>
     
    </div>
  </div>
</div>