<div class= "userImg shadow p-5 mb-6 "></div>
<br>
<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>
<%# <%= render 'form' %>
<h3 class="text-center mt-4">Articles</h3>

<div class='usersArticles'>
  <%= render 'articles/article' %>
</div>
