<h1>Home page</h1>

<%# articles_path  will produce something like this http://yourserver.com/articles which will be associated with your ArticlesController and index action.%>
<%= link_to 'Articles listing page', articles_path %>
<%= link_to 'About page', about_path%>
<%= link_to 'Contact page extra', contact_path%>