<div class="jumbotron m-3">

  <h1 class="display-4">Alpha Blog</h1>
  <hr class="my-4">
  <%# articles_path  will produce something like this http://yourserver.com/articles which will be associated with your ArticlesController and index action.%>
  <%= link_to 'Articles listing page', articles_path %>
  <%= link_to 'About page', about_path%>
  <%= link_to 'Contact page extra', contact_path%>

</div>