/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .jumbotron {
   padding: 2rem 1rem;
   margin-bottom: 2rem;
   background-color: #d6d8db;
   border-radius: .3rem;
 }

 .btn-create-new-article{
  border-radius: 0.5rem;
  background-color: #0d6efd;
  color: #fff;
  padding: 0.5rem;
  display: inline-block;
  text-decoration: none;
  border: none;
  margin: auto;
  display: flex;
 }

 .a-destory {
  display: flex;
  justify-content: center;
  
 }

 .btn-create-new-article:hover{
  background-color: #0a58ca;
  color: #fff;
 }

 .btn-submit {
  color: #fff;
 }

 .navbar {
  background-color: rgb(41, 52, 52) !important;
  padding-left: 15px;
  padding-right: 15px;
 }

 .nav-link {
  color: #fff !important;
 }

 #logo {
  float: left;
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
 }

 .home-container {
    background-image: url('alpha_blog.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
 }

 .userImg {
  background-image: url('users_pic.png');
  background-color: #5c636e;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0;
 }

 .home-page-title {
  color: rgb(70, 70, 70) !important;
  padding-top: 68px;
 }

 .lorem-text-home-page {
  padding-right: 50px;
  padding-left: 50px;
 }

 .btn-create-article {
  display: flex;
  justify-content: center;
 }

 .form-bgd {
  background-color: #353a42;
 }

 .label-text {
  color: #fff;
 }

 .show-article {
  background:#fcfcfc;
  display: flex;
  margin: auto;
 }

 .btn-destroy-show-article-page {
  justify-content: center;
  display: flex;
  margin: auto;
 }

 .pagesNext {
  display: flex;
  justify-content: center;
  font-size: 16px;

 }

 .categoryTitles {
  background-color: #0d6efd;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
 }

 html,
 body {
   height: 100%;
 }

 #page-content {
   flex: 1 0 auto;
 }

 a {
  text-decoration: none;
 }

 /* Other Classes for Page Styling */

#sticky-footer {
  flex-shrink: none;
}